*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
    
body{
    background: #e1ebfa;
    color: rgb(75, 74, 74);
    text-wrap: balance;
    font-family:'Ubuntu', sans-serif;
    font-size: 3vw;
}





/* <!-- header element --> */
.header{
    display: grid;
    grid-template-columns: 50% 50%;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #7688a3;
    width: 100%;
    background: linear-gradient(180deg, #c9dffed3 40%, #8593a8);
    box-shadow: inset 1px 5px 5px white,;
    z-index: 100;
}
.logo{
    padding-right: 50%;
}

/* Scrollbar CSS  */
::-webkit-scrollbar {
    width: 1.5rem;
}
::-webkit-scrollbar-track {
    background: black;
    border-left: 1px solid white;
        }
    ::-webkit-scrollbar-thumb {
        background: #02060c;
        border: 5px solid white;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 1px white;
    }
    ::-webkit-scrollbar-thumb:hover {
        box-shadow: inset 1px 20px 10px white,
                    1px 1px 10px 10px white;
    }

/* <!-- hero page element --> */
.welcome{
    width: auto;
    height: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6vw;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    color: rgb(75, 74, 74);
}

.welcome h1{
    animation: appear 2s linear;
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 50;
    }
}

.scripture{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: clamp(16px, 3vw, 20px);
    margin-bottom: 50px;
    font-family:'Ubuntu', sans-serif;
    font-weight: 100;
    margin-top: 20px;
}


/* <!-- about us element --> */
.about-us{
    background: linear-gradient(135deg,#b7d4fcd3 5%, #8593a8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 3vw;
    text-align: center;
    text-wrap: balance;
    
    margin: 0px 10px 0px 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px #727f92,
                -7px -7px 9px  white;
    }
    .about-us-text {
    justify-content: center;
    flex-direction: column;
    font-size: clamp(20px, 7vw, 30px);
    text-align: center;
    font-size: 4vw;
    margin-bottom: 20px;
}
.Repentance{
    font-family: 'Dancing Script', cursive;
    font-size: 7vw;
    color:red;
    margin: 20px;
}
.Baptism{
    font-family: 'Dancing Script', cursive;
    font-size: 7vw;
    color: blue;
    margin: 20px;
}
.Spirit-Infilling{
    font-family: 'Dancing Script', cursive;
    font-size: 7vw;
    color: white;
    margin: 20px;
    }





.ban-come-worship-with-us,
.ban-meet-our-staff,
.ban-come-have-fun,
.ban-upcoming-events,
.ban-services,
.inner h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: clamp(20px, 9vw, 61px);
    font-family: 'Dancing Script', cursive;
    color: rgb(75, 74, 74);
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
}



/* <!-- pictures of people in worship service --> */
.worship-pic {
    overflow: hidden;
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.slide {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: slide 20s infinite;
}
.slide img {
    width: 20%;
    float: left;
}

@keyframes slide {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


.image1{
    padding: 5px;
    border: 5px solid white;
    border-radius: 3px;
}





.staff-element{
    padding: 5px;
    margin: 3%;
}
.staff-picture{
    border-radius: 20px;
    height: auto;
    width: auto;
    padding: 10px;
}
.staff{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
}
.picture-border-pastor,
.picture-border-hollis,
.picture-border-boomsma,
.picture-border-ehresman,
.picture-border-gardner,
.picture-border-bible {
    border-radius: 7px;
    box-shadow: inset 2px 2px 7px #8593a8c3,
                -2px -2px 7px white;
    background: rgba(255, 255, 255, 0.568);
    margin: 10px ;

}
.bio-text{
    border-radius: 10px;
    box-shadow: 2px 2px 7px #727f92,
                -7px -7px 9px  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    background: linear-gradient(135deg,#b7d4fcd3 5%, #8593a8);
}
.text{
    margin: 3%;
}





.events{
    margin: 3%;
}




.color-key-calender{
    background: linear-gradient(180deg, hsla(194, 18%, 52%, 0.65) 0%, #000);
    box-shadow: 2px 2px 7px #727f92,
                -7px -7px 9px  white;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction:column;
    padding: 0;
    margin: 3%;
}
#red{
    background: red;
}
#green{
    background: lime;
}
#yellow{
    background: yellow;
}



/* calender container */
.calender {
    margin: auto;
    width: 800px;
    font-size: clamp(20px, 3vw, 30px);
    font-family: serif;
    font-weight: bold;
    color: black;
}
.month{
    text-align: center;
    background: black;
    font-size: 2rem;
    letter-spacing: 1px;
    color: black;
    border: 2px solid #6F809A;
    }
table, th, td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 27px;
    border-collapse: collapse;
    border: 2px solid #6F809A;
    border-radius: 5px;
    font-family:'Ubuntu';
    box-shadow: 2px 2px 7px #727f92,
                -7px -7px 9px  white;
    }
th {
    padding: 5px;
}
#othermonth {
    color: #6F809A;
    font-weight: 100;
}
#holiday {
    background: red;
}
#special {
    background: yellow;
}





.dropbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
.dropbox a{
    margin-top: 12px;
    text-decoration: none;
    color: rgb(75, 74, 74);
    background: linear-gradient(180deg,white, 30%, #c1ccdcc3);
    font-size: 15px;
    border-radius: 50px;
    box-shadow: 2px 2px 7px #727f92,
                -7px -7px 9px  white;
    padding: 10px;
    }

.btn-pulse {
    position: relative;
    overflow: hidden;
}

.btn-pulse::before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    left: -255px;
    bottom: -255px;
    background: white;
    border-radius: 100%;
    animation: pulse 4s linear infinite;
}

@keyframes pulse{
    100% {
        opacity: 0%;
        transform: scale(2.5);
    }
}


.dropbox a:hover {
    box-shadow: inset 2px 2px 7px #8593a8c3,
                -2px -2px 7px white;
    background: rgba(255, 255, 255, 0.568);
}

/* service tabs */

.service-times{
    margin: 20%;
}
.service{
    background: linear-gradient(135deg,#b7d4fcd3 5%, #8593a8);
    border-radius: 10px;
    box-shadow: 2px 2px 7px #727f92,
                -7px -7px 9px  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px ;
    padding: 20px;
}

.service-spanish {
    background: linear-gradient(135deg,#b7d4fcd3 40%, #8593a8);
    border-radius: 10px;
    box-shadow: 7px 7px 9px red,
                -7px -7px 9px  green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    padding: 20px;
}

.service-BFree{
    background: linear-gradient(135deg,#b7d4fcd3 40%, #8593a8);
    border-radius: 10px;
    box-shadow: 7px 7px 9px orangered,
                -7px -7px 9px  orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px ;
    padding: 20px;
}

.container iframe{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
    border-radius: 10px;
}
/*         .warning{
    font-family:'Ubuntu', sans-serif;
    color: red;
    text-shadow: 0 0 10px orange,
    0 0 10px orange,
    0 0 10px orange,
    0 0 10px orange,
    0 0 10px orange;
} */

.bible-reading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    border-radius: 10px;
    box-shadow: 2px 2px 7px #727f92,
                -7px -7px 9px  white;
    margin: 2%;
    padding: 20px;
    background: linear-gradient(135deg,#b7d4fcd3 5%, #8593a8);
}
.bible-reading img{
    border-radius: 7px;
    margin: 5%;
}
.bible-reading > .picture-border{
    margin-bottom: 20px;
    margin-top: 20px;
}
.bible-reading h1{
    margin-bottom: 15px;
}

.chart {
    display: flex;
}

.testimonials {
    padding: 40px 0;
    text-align: center;
}
.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
}
.col {
    flex: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial {
    background: linear-gradient(135deg,white, 90%, #c1ccdcc3);
    box-shadow: 2px 2px 7px #727f92,
                -7px -7px 9px  white;
    padding: 30px;
    border-radius: 5px;
}
.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name {
    padding-bottom: 10px;
}
Button {
    color: rgb(75, 74, 74);
    background: linear-gradient(180deg,white, 30%, #c1ccdcc3);
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px #727f92,
                -7px -7px 9px  white;
    padding: 10px;
    margin: 20px;
}

Button:hover {
    box-shadow: inset 2px 2px 7px #8593a8c3,
                -2px -2px 7px white;
    background: rgba(255, 255, 255, 0.568);
}






/* <!-- drop-down menu --> */


.menu{
    display: none;
}
.menu.open{
    display: grid;
    grid-column: 2;
    padding: 0;
    margin-right: 100px;
    margin-left: auto;
    text-align: right;
    width: 100%;
    font-size: 1.5rem
}
.menu a{
    display: flex;
    justify-content: right;
    padding: 10px;
    margin-right: 0;
    background: rgba(0, 0, 0, 0.484);
    text-decoration: none;
    color: white;
}
.hamburger{
    display: flex;
    justify-content: right;
}
.close{
    border: 2px solid lightblue;
    display: flex;
    justify-content: right;
}
.menu.open .hamburger .icon-open{
    display: flex;
}
.hamburger .icon-close {
    display: none;
}
.menu :nth-last-child(1) {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.menu :nth-child(1) {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/*CSS for JS: elements sliding into screen*/

/* This is the starting position: invisible and 100px to the right*/

.hidden-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1.0s ease-out;

    /*this makes the movement smooth*/

}

/* this is the 'Active' state that JS will trigger */

.show {
    opacity: 1;
    transform: translateX(0);
}

/* This is the starting position: invisible and -100px to the left*/

.hidden-left {
    opacity: 0;
    transform: translateX(-100px);

/*minus sign makes it move from the left*/

    transition: all 1.0s ease-out;

    /*this makes the movement smooth*/

}

/* this is the 'Active' state that JS will trigger */

.show {
    opacity: 1;
    transform: translateX(0);
}

